<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Username</th>
      <th scope="col">Book Name</th>
      <th scope="col">Author Name</th>
      <th scope="col">Borrowed date</th>
      <th scope="col">Due date</th>
      <th scope="col">Returned date</th>
      <th scope="col">Status</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
 

  <% @loanedbook.each_with_index do |loan, index|  %>
  
    <tr>
      <td><%=  index+1 %></td> 
      <td><%= loan.user.full_name %></td>
      <td><%= loan.book.title %></td>
      <td><%= loan.book.author.name %></td>
      <td><%= loan.loaned_date.to_date %></td>
      <td><%= loan.due_date.to_date %></td>
      <td><%= loan.returned_date%></td>
      <td><%= loan.status %></td>
     <% if loan.status == "pending"%>
       <td><%= link_to "Approve",{"controller"=>"admin", "action"=>"approve_request", id: loan.id},method: :get, class: 'btn btn-primary'%></td>
     <% elsif loan.status == "verify"%>
       <td><%= link_to "return approval",{"controller"=>"admin", "action"=>"book_return_approve", id: loan.id},method: :get, class: 'btn btn-primary'%></td>
     <% else %>
       <td></td>
     <% end %>
    </tr>
  <% end  %>
</tbody>
</table>