<h2>Add Book</h2>
<%= form_with  scope: :book, url: book_create_book_path(@book)  do |f| %>
  <br>
<div class= "row">
    <div class= "col-md-3">
      <%= f.text_field :title, placeholder: 'Title', class:"form-control " %>
    </div>  
    <div class= "col-md-3">
      <%= f.text_field :published_year, placeholder: 'Published year', class:"form-control " %>
    </div>
    <div class= "col-md-3">
      <%= f.select :author_id, @author.collect {|author| [ author.name , author.id ]}, 
      {},  class: "form form-group form-control"  %>
    </div>
    <div class= "col-md-3">
      <%= f.submit 'add', class:"btn btn-secondary" %>
    </div>      
</div>
<% end %>
<br><br>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>
      <th scope="col">Action1</th>
      <th scope="col">Action2</th>

    </tr>
  </thead>
  <tbody>
  <% count = 0 %>
  <% @book.each do |book|  %>   
    <tr>
      <td><%= count += 1 %></td>
      <td><%= book.title %></td>
      <td><%= book.author.name %></td>
      <td><%= link_to "Edit", edit_book_path(book) %></td>
      <td><%= button_to "Delete",{action: :destroy, id: book.id}, method: :delete %></td>    
    </tr>
    <% end  %>
  </tbody>
</table>