<h2>Add Book</h2>
  <br>

<%= form_with scope: :book, url: book_create_book_path(@book)  do |f| %>


  <div class="row">
    <div class="col-3">
   <%= f.label :title%>
   <%= f.text_field :title, class:"form-control" %>
    </div>
    <div class="col-3">
   <%= f.label :published_year%>
   <%= f.text_field :published_year, class:"form-control" %>
    </div>
    <div class="col-3">
   <%= f.label :author_id%>
   <%= f.text_field :author_id, class:"form-control" %>
    </div>
  </div>
  <br>
  <%= f.submit 'add', class:"btn btn-primary"%>

<% end %>

<br>
<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>


    </tr>
  </thead>
  <tbody>

  <% @book.each_with_index do |book,index|  %>
    <tr>
      <td><%= index+1%></td>
      <td><%= book.title %></td>
      <td><%= book.author.name %></td>
      <td>
        <%= link_to edit_book_path(book)do%>
          <i class="fa fa-pencil-square-o" aria-hidden="true" id = 'icons'></i>
        <% end %>
      </td>
      <td><%= button_to "Delete",{action: :destroy, id: book.id}, method: :delete, class: "btn btn-danger" %></td>    
    </tr>
    <% end  %>
  </tbody>

</table>


