<h2>Add Book</h2>

<%= form_with  scope: :book, url: book_create_book_path(@book)  do |f| %>
  <br>
<div class= "row">
    <div class= "col-md-3">
      <%= f.text_field :title, placeholder: 'Title', class:"form-control "%>
    </div>  
    <div class= "col-md-3">
      <%= f.select :published_year, 1999.. Date.today.year, 
      {},  class: "form form-group form-control" %>
    </div>
    <div class= "col-md-3">
      <%= f.select :author_id, @author.collect {|author| [ author.name , author.id ]},
      {},  class: " form-control"%>
    </div>
    <div class= "col-md-3">
      <%= f.submit 'add', class:"btn btn-secondary" %>
    </div>      
</div>
<% end %>
<br><br>



<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Book</th>
      <th scope="col">Author</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>

    </tr>
  </thead>
  <tbody>


  <% @book.each_with_index do |book,index|  %>
    <tr>
      <td><%= index+1%></td>
      <td><%= book.title %></td>
      <td><%= book.author.name %></td>
      <td>
        <%= link_to edit_book_path(book)do%>
          <i class="fa fa-pencil-square-o" aria-hidden="true" id = 'icons'></i>
        <% end %>
      </td>
      <td><%= button_to "Delete",{action: :destroy, id: book.id}, method: :delete, class: "btn btn-danger" %></td>    
    </tr>
    <% end  %>
  </tbody>

</table>

