<tr>
    <td><%= author.id %></td>
    <td data-auth_id = <%= author.id %> ><%= author.name %></td>
    <td>
    <%= link_to  edit_author_path(author) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true" id = 'icons'></i>
    <% end %>
    </td>
    <td>
    <%= link_to "/author/destroy_me/#{author.id}", data: { confirm: 'Are you sure?' , turbo: "false", id: author.id}, class:"trash" do%>
        <i class="fa fa-trash" aria-hidden="true" id="trash"></i>
    <% end %>
    </td>    
</tr>