<h2>Add Authors</h2>
<%= form_with scope: :author, url: author_create_author_path(@author)  do |f| %>
  <br>
  <div class= "row">
    
    <div class= "col-md-3">
      <%= f.text_field :name, placeholder: 'Name', class:"form-control " %>
    </div>  
    <div class= "col-md-3">
      <%= f.submit 'add', class:"btn btn-secondary" %>
    </div>    
  </div>
<% end %>
<br>
<table class="table table-striped">

  <thead>
    <tr>
      <th scope="col">S.no</th>
      <th scope="col">Author</th>
      <th scope="col">Action1</th>
      <th scope="col">Action2</th>

    </tr>
  </thead>
  <tbody>
  <% count = 0 %>
  <% @author.each do |author|  %>
    <tr>
      <td><%= count += 1 %></td>
      <td><%= author.name %></td>
      <td><%= link_to 'Edit', edit_author_path(author) %></td>
      <td><%= button_to "Delete",{action: :destroy, id: author.id}, method: :delete %></td>    
    </tr>
  <% end  %>
  </tbody>
</table>


