<div class="container-fluid" id ="sidebar">
    <div class="row min-vh-100 flex-column flex-md-row">
      <aside class="col-12 col-md-3 col-xl-2 p-0 bg-dark ">
        <nav class="navbar navbar-expand-md navbar-dark bd-dark flex-md-column flex-row align-items-center py-2 text-center sticky-top ">
          <div class="text-center p-1" id="side-text">
         <img src="/assets/def_profile.jpeg" alt="profile" class="profile">
           <strong> <%= link_to current_user.full_name.capitalize ,root_path, class:'navbar-brand mx-0 font-weight-bold  text-nowrap'%></strong>
           <br><span class="text-muted" id="user_email"><%= current_user.email %></span>
           </a>
          </div>
              <button type="button" class="navbar-toggler border-0 order-1" data-toggle="collapse" data-target="#nav" aria-controls="nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse order-last" id="side-text">
            <ul class="navbar-nav flex-column w-100 justify-content-center">
            <li class="nav-item ">
              <a href="#" class="nav-link"></a>
            </li>
            <li class="nav-item <%= active_class(root_path) %>">
            <%= link_to 'Borrow book',root_path, class: 'nav-link'%>
            </li>
            <li class="nav-item <%= active_class(request_my_book_index_path) %>">
            <%= link_to 'My book',request_my_book_index_path, class: 'nav-link '%>
            </li>
            <li class="nav-item <% active_class(home_history_path) %>" >
            <%= link_to 'History',home_history_path, class: 'nav-link '%>

            </li>
            <% if current_user.admin %>
              <li class="nav-item <% active_class(admin_accept_request_index_path)%>">
                <%= link_to 'Book status',admin_accept_request_index_path, class: 'nav-link'%>
              </li>
              <li class="nav-item <%= active_class(author_add_author_path) %>">
                <%= link_to 'Add Author',author_add_author_path, class: 'nav-link'%>
              </li>
              <li class="nav-item <%= active_class(book_add_book_path) %>">
                <%= link_to 'Add Book',book_add_book_path, class: 'nav-link'%>
              </li>
            <% end %>
            <% if user_signed_in? %>
            <li class="nav-item <%= active_class(edit_user_registration_path) %>">
  
              <%= link_to 'Edit profile', edit_user_registration_path, class: 'nav-link'%>
            </li>
            <% end %>
          </ul>
          </div>      
        </nav>   
      </aside>